<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  % include('head.tpl', title=title)
  </head>
  <body>
  <!-- Container -->
  <section id="container">
    <!-- Header -->
    % include('header.tpl')
    <!-- /Header -->

    <!-- Content -->
    <section id="content">

      <!-- Home -->
      % include('home.tpl')
      <!-- /Home -->

      <!-- Menu -->
      % include('nav.tpl')
      <!-- /Menu -->

      <!-- Modalités -->
      % include('modalities.tpl')
      <!-- /Modalités -->

      <!-- Valeurs -->
      % include('values.tpl')
      <!-- /Valeurs -->

      <!-- Contact -->
      % include('contact.tpl')
      <!-- /Contact -->

      <!-- Qui suis je -->
      % include('aboutme.tpl')
      <!-- /Qui suis je -->

      <!-- Mentions Légales -->
      % include('mentions.tpl')
      <!-- /Mentions Légales -->

    </section>
    <!-- /Content -->

    <!-- Footer -->
    % include('footer.tpl')
    <!-- /Footer -->

  </section>
  <!-- /Container -->
    <script>
      jQuery(document).ready(function () {
        // Needed variables
        var $content = $("#content");

        // Run easytabs
        $content.easytabs({
          animate: true,
          updateHash: false,
          transitionIn: 'slideDown',
          transitionOut: 'slideUp',
          animationSpeed: 600,
          tabs: ".tmenu",
          tabActiveClass: 'active',
          defaultTab: '#{{ activetab }}-li'
        });

        $('#mentions-lnk').click( function() {
          $content.easytabs('select', '#mentions');
         });
      });
    </script>
  </body>
</html>
