<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <title>Hop Coaching, Coaching sur Lyon et sa R&eacute;gion</title>
    <meta name="description" content="Coaching et Accompagnement Orient&eacute; Solutions sur Lyon et sa R&eacute;gion. Recherche d'emploi et entretiens d'embauche, Gestion du temps et du stress, D&eacute;veloppement personnel">
    <meta name="keywords" content="coaching, coachings, lyon, rhone, alpes, recherche, emploi, entretien, entretiens, gestion, temps, d&eacute;veloppement, personnel, stress, pr&eacute;paration, oraux, concours, motivation, &eacute;panouissement, vie, personnel, personnelle, professionnelle">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/> 
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="images/favicon.ico">
    <!--[if IEMobile]> 
    <link rel="stylesheet" type="text/css" href="css/iemobile.css"/>
    <![endif]--> 
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easytabs.min.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery-ui-map.js"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42605114-1', 'hop-coaching.com');
  ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
</head>
    <body>
        <!-- Container -->
        <section id="container">
        
            <!-- Header -->
			<header> 
            	<!-- Logo -->
            	<div id="logo">
                	<h2>HOP COACHING</h2>
                    <h4>COACHING SUR LYON ET SA R&Eacute;GION</h4>
                </div>
                <!-- /Logo -->
                
                <!-- Social Icons -->
                <!--
                <ul class="socialicons">
                    <li class="socials-text">Social Profiles</li>
                	<li><a href="#" class="transition">&#x2a;</a></li>
                    <li><a href="#" class="transition">&#x2c;</a></li>
                    <li><a href="#" class="transition">&#x2d;</a></li>
                    <li><a href="#" class="transition">&#x31;</a></li>
                </ul>
                -->
                <!-- /Social Icons -->
            </header>
            <!-- /Header -->
            
            <!-- Content -->
            <section id="content" >
            
                <!-- Profile -->
                <div id="profile"> 
                 	<!-- About section -->
                	<div class="about">
                    	<div class="photo-inner">
                            <ul>
                                <li><img src="images/hop-1.png" height="103" width="153" alt="Hop Coaching Lyon"/></li>
                                <li><img src="images/hop-1.png" height="103" width="153" alt="Hop Coaching Lyon"/></li>
                            </ul>
                        </div>
                        <h1>ACCOMPAGNEMENT ORIENT&Eacute; SOLUTIONS</h1>
                        <h3>COACHING SUR LYON ET SA R&Eacute;GION</h3>
                        <p>Le Coaching est un accompagnement au changement pour un &eacute;panouissement dans votre vie personnelle et/ou professionnelle.<br/><br/>
	L’objectif est de trouver des solutions r&eacute;alistes et compatibles avec vos motivations et int&eacute;r&ecirc;ts personnels afin d'atteindre votre but.</p>
                    </div>
                    <!-- /About section -->
                     
                    <!-- Personal info section -->
                	<ul class="personal-info">
                        <li><label>Accompagnement en:</label></li>
                        <li><span>- Orientation scolaire et professionnelle</span></li>
                        <li><span>- Pr&eacute;paration aux oraux de concours</span></li>
                        <li><span>- Recherche d'emploi et entretiens d'embauche</span></li>
                        <li><span>- Gestion du temps et du stress</span></li>
                        <li><span>- D&eacute;veloppement personnel</span></li>
						<li><label>Avantages :</label></li>
						<li><span>- R&eacute;fl&eacute;chir sur l’ensemble de vos potentialit&eacute;s</span></li>
						<li><span>- D&eacute;finir clairement vos objectifs en fonction de &nbsp;&nbsp;ce qui est important pour vous</span></li>
						<li><span>- Etre plus efficace et passer &agrave; l’action pour &nbsp;&nbsp;obtenir des r&eacute;sultats durables</span></li>
                    </ul>
                    <!-- /Personal info section -->
                </div>        
                <!-- /Profile --> 

                <!-- Menu -->
                <nav class="menu">
                	<ul class="tabs">
                        <li class="tmenu"><a href="#profile" class="tab-profile"><i>B</i>Accueil</a></li>
                        <li class="tmenu"><a href="#modalities"><i>o</i>Modalit&eacute;s d’un Coaching</a></li>
                        <li class="tmenu"><a href="#values"><i>p</i>Mes Valeurs</a></li>
                        <li class="tmenu"><a href="#aboutme"><i>`</i>Qui suis-je?</a></li>
                        <li class="tmenu"><a href="#contact"><i>&#x21;</i>Contact</a></li>
                    </ul>
                    <a class="prev" id="menu-prev" href="#">&#xe073;</a>
                    <a class="next" id="menu-next" href="#">&#xe076;</a>

                </nav>
                <!-- /Menu --> 
                
                <!-- Resume -->
                <section id="modalities">
                    <div class="timeline-section">
                        <h3 class="main-heading">Modalités d’un Coaching</h3>
                        <ol class="timeline">
                          <li>
                              <div class="timelineUnit">
                                  <h4>Entretien préliminaire gratuit d'une heure qui permet</h4>
                                  <p>
                                  <ul class="modality-topic">
                                  <li>De se présenter</li>
                                  <li>D’exprimer vos attentes</li>
                                  <li>De valider l’adéquation du coaching à votre problématique</li>
                                  <li>De définir ensemble un programme de coaching personnalisé</li>
                                  </ul>
                                  </p>
                              </div>
                          </li>
                          <li>
                              <div class="timelineUnit">
                                  <h4>La durée du coaching</h4>
                                  <p>Elle dépend de l’objectif que vous voulez atteindre et du rythme auquel vous souhaitez vous investir dans votre démarche de coaching.
Le rythme du coaching peut être hebdomadaire ou mensuel.</p>
                                  <p>Le coaching peut être ponctuel (1 à 3 séances) pour préparer un entretien d’embauche par exemple ou de plus longue durée (3 à 6 mois) suivant l'objectif fixé.</p>
                              </div>
                            </li>
                            <li>
                              <div class="timelineUnit">
                                  <h4>Les séances de coaching</h4>
                                  <p>Chaque séance dure 1h. En fin de séance, un programme de travail est défini avec le coaché pour optimiser le bénéfice de chaque rencontre.
Les séances ont lieu sur rendez-vous et peuvent se dérouler en face à face, par téléphone ou en visio (skype). Vous choisissiez ce qui vous convient le mieux.</p>
                              </div>
                          </li>
                          <li>
                              <div class="timelineUnit">
                                  <h4>Tarif du coaching</h4>
                                  <p>Sur devis, <a href="/contact">me consulter</a>.</p>
                                  <p>
Prix préférentiel pour les étudiants et demandeurs d’emploi.</p>
                                  <p>Le paiement s’effectue à la séance pour les particuliers et selon les conditions contractuelles pour les entreprises et institutions.</p>
                              </div>
                          </li>
                        </ol>

                    <div>
                        </div>
                    </div>
                </section>
                <!-- /Resume --> 
                                        
                <!-- Portfolio -->
                <section id="values">
                    <div class="value-section">
                        <h3 class="main-heading">Mes valeurs</h3>
                        <div class="value">
                        <ul>
                            <li><span>Confidentialité :</span>&Ccedil;a reste entre nous</li>
                            <li><span>Respect et tolérance:</span>Pas de jugement</li>
                            <li><span>Intégrité et authenticité :</span>Rester naturel et sincère</li>
                        </ul>
                        <p>
Ainsi, je m’engage, dans le cadre de votre coaching, grâce à des outils, une écoute active et la technique de « l’art du questionnement » à vous faire prendre conscience de ce qui compte vraiment pour vous, stimuler votre motivation et déclencher l’action. Vous deviendrez    alors l’acteur de votre évolution. Vous trouverez des solutions qui vous sont propres, vous permettant d’atteindre vos objectifs.
                        </p>
                        <p>
Votre niveau d’implication dans votre démarche de coaching est déterminant dans son aboutissement et l’atteinte de vos objectifs.<br/>
Assiduité, ponctualité, travail entre les séances, authenticité et responsabilité des décisions sont les principaux engagements du coaché.
                        </p>
                        <p>

                        </p>
                        </div>
                    </div>
                </section>
                <!-- /Portfolio -->  
                 
                <!-- Contact -->
                <section id="contact">
                	<div id="map"></div>
                	<!-- Contact Info -->
                    <div class="contact-info">
                        <h3 class="main-heading"><span>Contact</span></h3>
                    	<ul>
                            <li>Sorina Dumoulin<br /><br /></li>
                            <li>Lyon, Rh&ocirc;ne-Alpes, France</li>
                            <li>Email: contact@hop-coaching.com</li>
                            <li>Tel: +33 6 63 10 44 41</li>
                            <li>Site Web: <a href="http://hop-coaching.com"> hop-coaching.com</a></li>
                        </ul>
                    </div>
                    <!-- /Contact Info -->
                    
                    <!-- Contact Form -->
                    <div class="contact-form">
                        <h3 class="main-heading"><span>Pour toute demande d'information, n'hésitez pas &agrave; me contacter.</span></h3>
                        <div id="contact-status"></div>
                        <form action="/contact" method="post" id="contactform">
                            <p>
                            	<label for="name">Nom</label>
                            	<input type="text" name="name" id="name" class="input" >
                            </p>
                            <p>
                            	<label for="email">Email</label>
                            	<input type="text" name="email" id="email" class="input">
                            </p>
                            <p>
                            	<label for="message">Votre Message</label>
                                <textarea name="message" id="message" cols="88" rows="6" class="textarea" ></textarea>
                            </p>
                            <p>
                                <label for="known">Comment avez vous connu Hop Coaching?</label>
                                <select id="known" name="known">
                                    <option value="Choisir">Choisir</option>
                                    <option value="Moteur de recherche">Moteur de recherche</option>
                                    <option value="Réseaux sociaux (Facebook, Twitter ...)">Réseaux sociaux (Facebook, Twitter ...)</option>
                                    <option value="Press">Press</option>
                                    <option value="Bouche à oreille">Bouche à oreille</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </p>
                            <input type="submit" name="submit" value="Envoyer votre message" class="button transition">
                        </form>
                    </div>
                    <!-- /Contact Form -->
                </section>
                <!-- /contact -->
                <!-- /aboutme -->
                <section id="aboutme">
                    <div class="aboutme-header">
                        <h3 class="main-heading">Qui suis-je?</h3>
                        <div class="aboutme-intro"><span>Sorina Dumoulin</span><br>Coach en accompagnement du changement<br>Individualisé et adapté</div>
                        <div class="aboutme-photo"><img src="images/photo-aboutme.jpg" alt="photo du coach" title="photo du coach"></div>
                        <div class="aboutme-text">
                            <p>Titulaire d'un MBA en négoce international et d'un diplôme européen d'école de commerce, j'ai 6 ans d'expériences professionnelles dans la vente en B to B, notamment dans le secteur Aéronautique (Air France Cargo, Zodiac Aerospace, Sabena Technics) et du transport (Kuehne + Nagel).</p>
                            <p>Ces différentes expériences en France et à l’étranger (USA, Canada, Europe) m’ont permis de développer un sens aigu de la communication et la faculté de développer rapidement et durablement des relations de confiance avec mes interlocuteurs. L’écoute et l’empathie sont au cœur de chaque rencontre. La tolérance des valeurs et des croyances de l’autre est nécessaire pour obtenir son respect et sa considération.</p>
                            <p>Le coaching est mon second métier. L’accompagnement de particuliers ou de professionnels dans l’atteinte de leurs objectifs me passionne.<br>
                            Le coaching aide à développer des ressources nouvelles ou mal exploitées et donc d’être plus efficace.<br>
                            L’apprentissage des expériences passées, une prise de conscience de ce que l’on est et de ce que l’on veut vraiment favorise l’autonomie et nous permet de devenir auteur et acteur de notre vie en trouvant nos propres solutions pour toucher notre but.</p>
                            <p>Ainsi, je vous propose de vous accompagnée à développer votre potentiel et à atteinte de vos objectifs.</p>

                            <ul class="aboutme-citations">
                                <h3 class="main-heading">Les citations qui m’inspirent :</h3>
                                <li>Ils ne savaient pas que c’était impossible, alors ils l’ont fait.<br>
                                    <span>- Mark TWAIN – Ecrivain et Humoriste</span>
                                </li>
                                <li>Vous êtes maître de votre vie, et qu’importe votre prison, vous en avez la clef.<br>
                                    <span>- Dalaï – Lama – Bouddhiste</span>
                                </li>
                                <li>Un pessimiste voit la difficulté dans chaque opportunité.<br>
                                    Un optimiste voit l’opportunité dans chaque difficulté.<br>
                                    <span>- Winston CHURCHILL – Homme d’Etat</span>
                                </li>
                                <li>Il faut viser la lune, parce qu’au moins, si vous échouez, vous finissez dans les étoiles.<br>
                                    <span>- Oscar WILDE – Ecrivain</span>
                                </li>
                                <li>Quand on ne peut revenir en arrière, on ne doit se préoccuper que de la meilleure façons d’aller de l’avant.<br>
                                    <span>- Paolo COELHO – Ecrivain</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- aboutme -->

            </section>
            <!-- /Content -->
            
            <!-- Footer -->
			<footer>
            	<div class="copyright">Copyright &copy; 2013 Hop Coaching</div>
                <ul class="links">
                  <li><a href="/">Accueil</a><span>|</span></li>
                  <li><a href="/modalites-d-un-coaching">Modalités d'un coaching</a><span>|</span></li>
                  <li><a href="/mes-valeurs">Mes valeurs</a><span>|</span></li>
                  <li><a href="/qui-suis-je">Qui suis-je?</a><span>|</span></li>
                  <li><a href="/contact">Contact</a><span>|</span></li>
                </ul>
            </footer>
            <!-- /Footer --> 
            
        </section>
		<!-- /Container -->

    </body>
</html>
